In [27]:
import pandas as pd

In [28]:
BASE_DOR = '/mnt/d/幽门螺旋杆菌/Script/分析结果/2-变异统计/output/比较东亚和全球/var'

In [29]:
df_EA = pd.read_csv(f'{BASE_DOR}/East_Asia.var.csv')
df_EA

,CHROM,POS,REF,ALT,AC,Source,Freq,Type,Special
0,NC_000915.1,5,T,C,1,East_Asia,UltraRare,SNV,Singleton
1,NC_000915.1,61,T,G,1,East_Asia,UltraRare,SNV,Singleton
2,NC_000915.1,68,T,G,1,East_Asia,UltraRare,SNV,Singleton
3,NC_000915.1,73,A,ATTTAGTGATTAGTGATTAGTGATTAGTGATTAGTGATTAGTGATT...,1,East_Asia,UltraRare,Indel,Singleton
4,NC_000915.1,75,TAGTGATTAGTGATTAGTGATTAGTGATTAGTGATTAGTGATTAGT...,AGTGATTAGTGATTAGTGATTAGTGATTAGTGATTAGTGATTAGTG...,1,East_Asia,UltraRare,Indel,Singleton
...,...,...,...,...,...,...,...,...,...
1412628,NC_000915.1,1667851,C,T,2,East_Asia,Rare,SNV,Doubleton
1412629,NC_000915.1,1667854,C,T,1,East_Asia,UltraRare,SNV,Singleton
1412630,NC_000915.1,1667855,C,CT,6,East_Asia,Rare,Indel,NaN
1412631,NC_000915.1,1667856,T,TC,18,East_Asia,LowFreq,Indel,NaN
1412632,NC_000915.1,1667857,T,C,3,East_Asia,Rare,SNV,NaN

In [30]:
df_Global = pd.read_csv(f'{BASE_DOR}/Global.var.csv')
df_Global

,CHROM,POS,REF,ALT,AC,Source,Freq,Type,Special
0,NC_000915.1,5,T,G,6,Global,UltraRare,SNV,NaN
1,NC_000915.1,5,T,C,3,Global,UltraRare,SNV,NaN
2,NC_000915.1,12,T,G,2,Global,UltraRare,SNV,Doubleton
3,NC_000915.1,14,G,T,1,Global,UltraRare,SNV,Singleton
4,NC_000915.1,15,T,C,1,Global,UltraRare,SNV,Singleton
...,...,...,...,...,...,...,...,...,...
2475418,NC_000915.1,1667858,T,TAG,1,Global,UltraRare,Indel,Singleton
2475419,NC_000915.1,1667860,T,C,1,Global,UltraRare,SNV,Singleton
2475420,NC_000915.1,1667860,T,A,1,Global,UltraRare,SNV,Singleton
2475421,NC_000915.1,1667860,T,TG,1,Global,UltraRare,Indel,Singleton
2475422,NC_000915.1,1667862,G,A,4,Global,UltraRare,SNV,NaN

In [31]:
# 筛选出df_EA中Freq = Common的行
df_EA_Common = df_EA[df_EA['Freq'] == 'Common']

df_EA_Common 
#? 计算发现总共有161974行

,CHROM,POS,REF,ALT,AC,Source,Freq,Type,Special
103,NC_000915.1,203,G,A,109,East_Asia,Common,SNV,NaN
106,NC_000915.1,204,G,A,90,East_Asia,Common,SNV,NaN
120,NC_000915.1,213,A,G,155,East_Asia,Common,SNV,NaN
141,NC_000915.1,237,T,C,1490,East_Asia,Common,SNV,NaN
143,NC_000915.1,238,G,A,102,East_Asia,Common,SNV,NaN
...,...,...,...,...,...,...,...,...,...
1412242,NC_000915.1,1666956,A,ATACC,177,East_Asia,Common,Indel,NaN
1412245,NC_000915.1,1666957,T,TTTCA,604,East_Asia,Common,Indel,NaN
1412246,NC_000915.1,1666957,T,TTCCA,216,East_Asia,Common,Indel,NaN
1412272,NC_000915.1,1666969,A,T,492,East_Asia,Common,SNV,NaN
1412276,NC_000915.1,1666971,C,T,550,East_Asia,Common,SNV,NaN

In [40]:
df_Global_Common = df_Global[df_Global['Freq'] == 'Common']
df_Global_Common
#? 计算发现总共有236470行

,CHROM,POS,REF,ALT,AC,Source,Freq,Type,Special
339,NC_000915.1,182,T,C,581,Global,Common,SNV,NaN
340,NC_000915.1,182,T,G,598,Global,Common,SNV,NaN
346,NC_000915.1,183,A,T,574,Global,Common,SNV,NaN
423,NC_000915.1,198,A,AT,571,Global,Common,Indel,NaN
427,NC_000915.1,199,T,TTTTAGGTATAA,565,Global,Common,Indel,NaN
...,...,...,...,...,...,...,...,...,...
2475353,NC_000915.1,1667831,T,C,1221,Global,Common,SNV,NaN
2475355,NC_000915.1,1667832,A,G,1037,Global,Common,SNV,NaN
2475360,NC_000915.1,1667833,C,CT,1089,Global,Common,Indel,NaN
2475363,NC_000915.1,1667835,G,A,426,Global,Common,SNV,NaN
2475416,NC_000915.1,1667857,T,C,441,Global,Common,SNV,NaN

In [42]:
# 深入分析重复的原因
print("=== 详细分析 df_Global_Common 中的重复 ===")

# 1. 找出所有重复的 (POS, REF, ALT) 组合
duplicated_mask = df_Global_Common.duplicated(subset=['POS', 'REF', 'ALT'], keep=False)
duplicated_data = df_Global_Common[duplicated_mask].copy()

print(f"涉及重复的总行数: {len(duplicated_data)}")
print(f"重复的 (POS, REF, ALT) 组合数: {duplicated_data[['POS', 'REF', 'ALT']].drop_duplicates().shape[0]}")

# 2. 按照 (POS, REF, ALT) 分组，看每组有多少行
duplicate_groups = duplicated_data.groupby(['POS', 'REF', 'ALT']).size().reset_index(name='count')
print(f"\n重复组合的分布:")
print(duplicate_groups['count'].value_counts().sort_index())

# 3. 看几个具体的重复例子，包括所有列
print(f"\n前5个重复组合的详细信息:")
for i, (pos, ref, alt) in enumerate(duplicate_groups[['POS', 'REF', 'ALT']].head().values):
    print(f"\n--- 组合 {i+1}: POS={pos}, REF={ref}, ALT={alt} ---")
    subset = df_Global_Common[(df_Global_Common['POS'] == pos) & 
                             (df_Global_Common['REF'] == ref) & 
                             (df_Global_Common['ALT'] == alt)]
    print(subset.to_string(index=False))

# 4. 检查是否所有列都相同（完全重复行）
print(f"\n=== 检查是否为完全重复行 ===")
fully_duplicated = df_Global_Common.duplicated().sum()
print(f"完全重复的行数: {fully_duplicated}")

# 5. 如果不是完全重复，看看哪些列不同
if len(duplicated_data) > 0:
    print(f"\n=== 分析重复组合中哪些列有差异 ===")
    # 取第一个重复组合作为例子
    first_dup = duplicate_groups.iloc[0]
    pos, ref, alt = first_dup['POS'], first_dup['REF'], first_dup['ALT']
    
    example_group = df_Global_Common[(df_Global_Common['POS'] == pos) & 
                                    (df_Global_Common['REF'] == ref) & 
                                    (df_Global_Common['ALT'] == alt)]
    
    print(f"示例组合 POS={pos}, REF={ref}, ALT={alt} 的所有行:")
    for col in example_group.columns:
        unique_vals = example_group[col].unique()
        print(f"  {col}: {unique_vals} (共{len(unique_vals)}个不同值)")

=== 详细分析 df_Global_Common 中的重复 ===
涉及重复的总行数: 522
重复的 (POS, REF, ALT) 组合数: 254

重复组合的分布:
count
2    241
3     12
4      1
Name: count, dtype: int64

前5个重复组合的详细信息:

--- 组合 1: POS=2609, REF=T, ALT=TA ---
      CHROM  POS REF ALT   AC Source   Freq  Type Special
NC_000915.1 2609   T  TA  881 Global Common Indel     NaN
NC_000915.1 2609   T  TA 2589 Global Common Indel     NaN

--- 组合 2: POS=7373, REF=A, ALT=AT ---
      CHROM  POS REF ALT   AC Source   Freq  Type Special
NC_000915.1 7373   A  AT  789 Global Common Indel     NaN
NC_000915.1 7373   A  AT 3237 Global Common Indel     NaN

--- 组合 3: POS=16835, REF=CA, ALT=C ---
      CHROM   POS REF ALT  AC Source   Freq  Type Special
NC_000915.1 16835  CA   C 630 Global Common Indel     NaN
NC_000915.1 16835  CA   C 820 Global Common Indel     NaN

--- 组合 4: POS=23161, REF=AT, ALT=A ---
      CHROM   POS REF ALT   AC Source   Freq  Type Special
NC_000915.1 23161  AT   A  392 Global Common Indel     NaN
NC_000915.1 23161  AT   A 1996 Global Common Indel     NaN

--- 组合 5: POS=25607, REF=C, ALT=CA ---
      CHROM   POS REF ALT   AC Source   Freq  Type Special
NC_000915.1 25607   C  CA  990 Global Common Indel     NaN
NC_000915.1 25607   C  CA 2412 Global Common Indel     NaN

=== 检查是否为完全重复行 ===
完全重复的行数: 0

=== 分析重复组合中哪些列有差异 ===
示例组合 POS=2609, REF=T, ALT=TA 的所有行:
  CHROM: ['NC_000915.1'] (共1个不同值)
  POS: [2609] (共1个不同值)
  REF: ['T'] (共1个不同值)
  ALT: ['TA'] (共1个不同值)
  AC: [ 881 2589] (共2个不同值)
  Source: ['Global'] (共1个不同值)
  Freq: ['Common'] (共1个不同值)
  Type: ['Indel'] (共1个不同值)
  Special: [nan] (共1个不同值)

## 问题根源分析

根据上面的分析，我发现了问题的根源：

### 观察到的现象
1. **相同的变异位点**有**不同的AC值**
2. 例如：位置2609的 T→TA 变异，出现了AC=881和AC=2589两条记录
3. 不是完全重复行（AC列不同），但是(POS, REF, ALT)组合重复

### Python脚本中的问题
查看您的Python脚本 `2-伪二倍体文件统计.py`，问题可能出现在这几个地方：

#### 1. 多等位基因位点处理
```python
# 写入每个 allele 的一行
for alt, ac_val in zip(var.ALT, ac_list):
    if ac_val > 0:
        var_writer.writerow([...])
```

#### 2. 可能的原因
- **多等位基因位点**：一个位点可能有多个ALT等位基因
- **计数逻辑问题**：可能同一个ALT被计算了多次
- **基因型处理问题**：可能某些基因型被重复计算

让我们进一步验证这个假设...

In [43]:
# 验证多等位基因假设
print("=== 验证多等位基因假设 ===")

# 查看重复位点的AC值分布
duplicate_groups_with_ac = duplicated_data.groupby(['POS', 'REF', 'ALT'])['AC'].apply(list).reset_index()
duplicate_groups_with_ac['AC_count'] = duplicate_groups_with_ac['AC'].apply(len)
duplicate_groups_with_ac['AC_values'] = duplicate_groups_with_ac['AC'].apply(lambda x: sorted(x))

print("前10个重复组合的AC值分布:")
for i, row in duplicate_groups_with_ac.head(10).iterrows():
    print(f"POS={row['POS']}, {row['REF']}→{row['ALT']}: AC值={row['AC_values']}")

# 检查是否有规律性的AC值差异
print(f"\n=== AC值差异分析 ===")
print("AC值数量分布:")
print(duplicate_groups_with_ac['AC_count'].value_counts().sort_index())

# 对于有2个AC值的情况，看看AC值的关系
two_ac_cases = duplicate_groups_with_ac[duplicate_groups_with_ac['AC_count'] == 2].copy()
if len(two_ac_cases) > 0:
    two_ac_cases['AC_ratio'] = two_ac_cases['AC_values'].apply(lambda x: x[1]/x[0] if x[0] > 0 else float('inf'))
    two_ac_cases['AC_diff'] = two_ac_cases['AC_values'].apply(lambda x: x[1] - x[0])
    
    print(f"\n对于有2个AC值的{len(two_ac_cases)}个位点:")
    print("AC比率分布:")
    print(two_ac_cases['AC_ratio'].describe())
    print("\nAC差值分布:")
    print(two_ac_cases['AC_diff'].describe())
    
    # 看看是否有特定的比率模式
    print(f"\n常见的AC比率:")
    ratio_counts = two_ac_cases['AC_ratio'].round(2).value_counts().head(10)
    print(ratio_counts)

=== 验证多等位基因假设 ===
前10个重复组合的AC值分布:
POS=2609, T→TA: AC值=[881, 2589]
POS=7373, A→AT: AC值=[789, 3237]
POS=16835, CA→C: AC值=[630, 820]
POS=23161, AT→A: AC值=[392, 1996]
POS=25607, C→CA: AC值=[990, 2412]
POS=28873, GA→G: AC值=[815, 3009]
POS=38692, TC→T: AC值=[1105, 6430]
POS=52289, G→GT: AC值=[1148, 1825]
POS=70929, A→AAAT: AC值=[1329, 1815]
POS=71967, C→CA: AC值=[556, 738]

=== AC值差异分析 ===
AC值数量分布:
AC_count
2    241
3     12
4      1
Name: count, dtype: int64

对于有2个AC值的241个位点:
AC比率分布:
count    241.000000
mean       2.948997
std        2.180794
min        1.006881
25%        1.412899
50%        2.398614
75%        3.522434
max       15.671141
Name: AC_ratio, dtype: float64

AC差值分布:
count     241.000000
mean     1454.601660
std      1396.553979
min         3.000000
25%       409.000000
50%      1003.000000
75%      2181.000000
max      6558.000000
Name: AC_diff, dtype: float64

常见的AC比率:
AC_ratio
1.01    6
1.39    6
1.07    5
1.23    4
1.41    4
1.74    3
1.75    3
2.63    3
1.10    3
1.81    3
Name: count, dtype: int64

## 发现的问题！

根据上面的分析，我发现了**重复产生的根本原因**：

### 问题症状
1. **同一个(POS, REF, ALT)组合**出现**多条记录**
2. **AC值不同**，但其他字段相同
3. **大多数情况下是2个AC值**，少数是3个或4个

### 根本原因分析

查看您的Python脚本 `2-伪二倍体文件统计.py` 第71-81行：

```python
# 写入每个 allele 的一行  
for alt, ac_val in zip(var.ALT, ac_list):
    if ac_val > 0:
        var_writer.writerow([
            var.CHROM,
            var.POS, 
            var.REF,
            alt,        # 这里是具体的ALT
            ac_val,     # 这里是该ALT的计数
            base,
            freq_label,  # ← 问题在这里！
            type_label,  # ← 问题在这里！ 
            special_label # ← 问题在这里！
        ])
```

### 🔥 关键问题

**`freq_label`, `type_label`, `special_label` 是基于整个位点的总AC计算的，但却被用于每个单独的ALT记录！**

让我详细解释：

1. **频率计算**基于 `total_ac = sum(ac_list)` 和 `af = total_ac / an`
2. **但是每个ALT都单独写入一行**，每行使用相同的频率标签
3. **结果**：同一个ALT可能因为**不同的total_ac值**而被分配**不同的频率类别**

这就解释了为什么会有重复！

In [44]:
# 验证我的假设：检查是否存在多等位基因位点导致的问题
print("=== 验证频率计算逻辑问题 ===")

# 读取原始的变异详情文件，查看是否有多等位基因位点的情况
# 我们来模拟这种情况

# 假设一个多等位基因位点的例子：
# 位点POS=2609，REF=T，有ALT=[TA, TAA]，对应AC=[881, 1708]
# total_ac = 881 + 1708 = 2589
# 但是如果脚本中有bug，可能会产生两条记录：
# 1) POS=2609, REF=T, ALT=TA, AC=881   (基于total_ac=881计算频率)
# 2) POS=2609, REF=T, ALT=TA, AC=2589  (基于total_ac=2589计算频率)

print("基于观察到的数据模式，我推测问题出现在以下情况：")
print("1. 脚本在处理多等位基因位点时，可能对频率计算有bug")
print("2. 同一个ALT被不同的total_ac值计算频率，导致重复记录")

# 让我们检查一个具体的重复例子
example_pos = 2609
example_subset = df_Global_Common[(df_Global_Common['POS'] == example_pos) & 
                                 (df_Global_Common['REF'] == 'T') & 
                                 (df_Global_Common['ALT'] == 'TA')]

print(f"\n位点 {example_pos} (T→TA) 的详细情况:")
print(example_subset[['POS', 'REF', 'ALT', 'AC', 'Freq', 'Type', 'Special']].to_string(index=False))

# 检查AC值的关系
ac_values = example_subset['AC'].values
print(f"AC值: {ac_values}")
print(f"AC值之和: {sum(ac_values)}")
print(f"较大AC是否等于较小AC之和的某种倍数: {ac_values[1] / ac_values[0] if len(ac_values) > 1 else 'N/A'}")

print(f"\n=== 结论 ===")
print("这很可能是Python脚本中多等位基因位点处理逻辑的问题！")
print("建议检查脚本中：")
print("1. 多等位基因位点的AC计算逻辑")
print("2. 频率分类的计算时机")
print("3. 确保每个(POS,REF,ALT)组合只写入一次")

=== 验证频率计算逻辑问题 ===
基于观察到的数据模式，我推测问题出现在以下情况：
1. 脚本在处理多等位基因位点时，可能对频率计算有bug
2. 同一个ALT被不同的total_ac值计算频率，导致重复记录

位点 2609 (T→TA) 的详细情况:
 POS REF ALT   AC   Freq  Type Special
2609   T  TA  881 Common Indel     NaN
2609   T  TA 2589 Common Indel     NaN
AC值: [ 881 2589]
AC值之和: 3470
较大AC是否等于较小AC之和的某种倍数: 2.9387060158910328

=== 结论 ===
这很可能是Python脚本中多等位基因位点处理逻辑的问题！
建议检查脚本中：
1. 多等位基因位点的AC计算逻辑
2. 频率分类的计算时机
3. 确保每个(POS,REF,ALT)组合只写入一次

## 🔧 解决方案

我找到了**问题的根源**和**解决方案**：

### 问题原因
您的Python脚本在处理**多等位基因位点**时有逻辑错误：

1. **频率计算**基于整个位点的`total_ac`
2. **但每个ALT单独写入一行**时，使用了相同的频率标签
3. **如果脚本被多次运行或有其他逻辑问题**，可能导致同一ALT被重复记录

### 具体的修复方案

**修改Python脚本的第40-81行部分：**

```python
# 原有代码问题：频率分类应该基于每个ALT的个体频率，而不是总频率
# 修复方案：为每个ALT分别计算频率

for i, (alt, ac_val) in enumerate(zip(var.ALT, ac_list)):
    if ac_val > 0:
        # 为每个ALT单独计算频率
        af_individual = ac_val / an  # 个体等位基因频率
        maf_individual = af_individual if af_individual <= 0.5 else 1 - af_individual
        
        # 基于个体MAF进行频率分类
        if maf_individual >= 0.05:
            freq_label_individual = "Common"
        elif maf_individual >= 0.01:
            freq_label_individual = "LowFreq"
        elif maf_individual >= 0.001:
            freq_label_individual = "Rare"
        else:
            freq_label_individual = "UltraRare"
        
        # singleton/doubleton应该基于个体AC
        if ac_val == 1:
            special_label_individual = "Singleton"
        elif ac_val == 2:
            special_label_individual = "Doubleton"
        else:
            special_label_individual = ""
        
        var_writer.writerow([
            var.CHROM,
            var.POS,
            var.REF,
            alt,
            ac_val,
            base,
            freq_label_individual,  # 使用个体频率标签
            type_label,             # 类型可以保持不变
            special_label_individual # 使用个体special标签
        ])
```

### 临时解决当前数据的方案

如果您不想重新运行脚本，可以对当前数据进行去重：

In [45]:
# 临时解决方案：对当前数据进行去重处理

print("=== 临时解决方案：数据去重 ===")

# 方案1：保留AC值较大的记录（可能更准确）
print("方案1：保留每个(POS,REF,ALT)组合中AC值最大的记录")
df_Global_Common_dedup1 = df_Global_Common.loc[df_Global_Common.groupby(['POS', 'REF', 'ALT'])['AC'].idxmax()]
print(f"去重后行数: {len(df_Global_Common_dedup1)} (原来: {len(df_Global_Common)})")

# 方案2：保留AC值较小的记录（更保守）
print("\n方案2：保留每个(POS,REF,ALT)组合中AC值最小的记录")
df_Global_Common_dedup2 = df_Global_Common.loc[df_Global_Common.groupby(['POS', 'REF', 'ALT'])['AC'].idxmin()]
print(f"去重后行数: {len(df_Global_Common_dedup2)} (原来: {len(df_Global_Common)})")

# 方案3：随机保留一个记录
print("\n方案3：随机保留每个(POS,REF,ALT)组合中的一个记录")
df_Global_Common_dedup3 = df_Global_Common.drop_duplicates(subset=['POS', 'REF', 'ALT'], keep='first')
print(f"去重后行数: {len(df_Global_Common_dedup3)} (原来: {len(df_Global_Common)})")

# 推荐使用方案1（保留AC较大的），因为可能代表更准确的计数
print(f"\n=== 推荐使用方案1 ===")
print(f"使用去重后的数据，唯一变异数 = {len(df_Global_Common_dedup1)} = 原始行数")

# 验证去重效果
print(f"\n验证：去重后是否还有重复？")
print(f"去重后重复的(POS,REF,ALT)组合数: {df_Global_Common_dedup1.duplicated(subset=['POS', 'REF', 'ALT']).sum()}")

# 如果需要继续分析，可以用去重后的数据
print(f"\n如果要继续韦恩图分析，建议使用：")
print(f"df_Global_Common_clean = df_Global_Common_dedup1")

=== 临时解决方案：数据去重 ===
方案1：保留每个(POS,REF,ALT)组合中AC值最大的记录
去重后行数: 236202 (原来: 236470)

方案2：保留每个(POS,REF,ALT)组合中AC值最小的记录
去重后行数: 236202 (原来: 236470)

方案3：随机保留每个(POS,REF,ALT)组合中的一个记录
去重后行数: 236202 (原来: 236470)

=== 推荐使用方案1 ===
使用去重后的数据，唯一变异数 = 236202 = 原始行数

验证：去重后是否还有重复？
去重后重复的(POS,REF,ALT)组合数: 0

如果要继续韦恩图分析，建议使用：
df_Global_Common_clean = df_Global_Common_dedup1

In [33]:
# 让我们检查一下数据的基本信息
print("df_EA_Common 形状:", df_EA_Common.shape)
print("df_Global_Common 形状:", df_Global_Common.shape)

# 检查POS,REF,ALT组合的唯一性
print("\ndf_EA_Common 中 (POS,REF,ALT) 唯一组合数:", df_EA_Common[['POS', 'REF', 'ALT']].drop_duplicates().shape[0])
print("df_Global_Common 中 (POS,REF,ALT) 唯一组合数:", df_Global_Common[['POS', 'REF', 'ALT']].drop_duplicates().shape[0])

# 检查是否有重复的行
print("\ndf_EA_Common 是否有重复行:", df_EA_Common.duplicated().any())
print("df_Global_Common 是否有重复行:", df_Global_Common.duplicated().any())

# 如果有重复，看看重复的数量
if df_EA_Common.duplicated().any():
    print("df_EA_Common 重复行数:", df_EA_Common.duplicated().sum())
if df_Global_Common.duplicated().any():
    print("df_Global_Common 重复行数:", df_Global_Common.duplicated().sum())

df_EA_Common 形状: (161974, 9)
df_Global_Common 形状: (236470, 9)

df_EA_Common 中 (POS,REF,ALT) 唯一组合数: 161795
df_Global_Common 中 (POS,REF,ALT) 唯一组合数: 236202

df_EA_Common 是否有重复行: True
df_Global_Common 是否有重复行: False
df_EA_Common 重复行数: 1

In [34]:
# 现在，我要根据POS,REF,ALT三列来合并df_EA_Common和df_Global_Common
# 这可以通过pandas的merge函数来实现
df_common_merged = pd.merge(df_EA_Common, df_Global_Common, on=['POS', 'REF', 'ALT'], suffixes=('_EA', '_Global'),how='outer')
df_common_merged
# 现在，df_common_merged包含了所有在东亚和全球中频率为Common的变异
# 我希望为每种变异（按照POS,REF,ALT三列）分配一个独特的编号
# 如果某一行的POS,REF,ALT三列的组合在之前的行中出现过，则为该行分配相同的编号
# 否则，为该行分配一个新的编号
df_common_merged['Variant_ID'] = df_common_merged.groupby(['POS', 'REF', 'ALT']).ngroup()
df_common_merged

,CHROM_EA,POS,REF,ALT,AC_EA,Source_EA,Freq_EA,Type_EA,Special_EA,CHROM_Global,AC_Global,Source_Global,Freq_Global,Type_Global,Special_Global,Variant_ID
0,NaN,182,T,C,NaN,NaN,NaN,NaN,NaN,NC_000915.1,581.0,Global,Common,SNV,NaN,0
1,NaN,182,T,G,NaN,NaN,NaN,NaN,NaN,NC_000915.1,598.0,Global,Common,SNV,NaN,1
2,NaN,183,A,T,NaN,NaN,NaN,NaN,NaN,NC_000915.1,574.0,Global,Common,SNV,NaN,2
3,NaN,198,A,AT,NaN,NaN,NaN,NaN,NaN,NC_000915.1,571.0,Global,Common,Indel,NaN,3
4,NaN,199,T,TTTTAGGTATAA,NaN,NaN,NaN,NaN,NaN,NC_000915.1,565.0,Global,Common,Indel,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258233,NaN,1667831,T,C,NaN,NaN,NaN,NaN,NaN,NC_000915.1,1221.0,Global,Common,SNV,NaN,257617
258234,NaN,1667832,A,G,NaN,NaN,NaN,NaN,NaN,NC_000915.1,1037.0,Global,Common,SNV,NaN,257618
258235,NaN,1667833,C,CT,NaN,NaN,NaN,NaN,NaN,NC_000915.1,1089.0,Global,Common,Indel,NaN,257619
258236,NaN,1667835,G,A,NaN,NaN,NaN,NaN,NaN,NC_000915.1,426.0,Global,Common,SNV,NaN,257620
258237,NaN,1667857,T,C,NaN,NaN,NaN,NaN,NaN,NC_000915.1,441.0,Global,Common,SNV,NaN,257621

In [ ]:
# 我检查一下df_common_merged['variant_id']的唯一值数量
unique_variant_ids = df_common_merged['Variant_ID'].nunique()
unique_variant_ids
#? 为什么这里的唯一数量变成了257622而不是258238？
# 可能是因为在合并过程中，有些变异在东亚和全球中都存在，但它们的POS,REF,ALT组合在某一组中是唯一的，而在另一组中不是。

257622

In [35]:
#todo 下一步我要制作韦恩图的准备表格，第一列为EA，第二列为Global，每一行是Variant_ID
# 这样我就可以用venn2函数来制作韦恩图了
df_common_merged_EA_Ve = df_common_merged.loc[df_common_merged['Source_EA']=='East_Asia', ['Variant_ID']]
df_common_merged_Global_Ve = df_common_merged.loc[df_common_merged['Source_Global']=='Global', ['Variant_ID']]
df_common_merged_EA_Ve,df_common_merged_Global_Ve

(        Variant_ID
 5                5
 6                6
 8                8
 11              11
 12              12
 ...            ...
 258142      257526
 258143      257527
 258144      257528
 258148      257532
 258149      257533

 [162367 rows x 1 columns],
         Variant_ID
 0                0
 1                1
 2                2
 3                3
 4                4
 ...            ...
 258233      257617
 258234      257618
 258235      257619
 258236      257620
 258237      257621

 [236811 rows x 1 columns])

In [36]:
# 重命名，将Variant_ID列改为EA_Variant_ID和Global_Variant_ID
df_common_merged_EA_Ve.rename(columns={'Variant_ID': 'EA_Variant_ID'}, inplace=True)
df_common_merged_Global_Ve.rename(columns={'Variant_ID': 'Global_Variant_ID'}, inplace=True)

In [37]:
# 现在直接把两个df强行拼成一个df_Venn
df_Venn = pd.concat([df_common_merged_EA_Ve, df_common_merged_Global_Ve], axis=1)
# 输出为一个csv文件，保留0位小数
df_Venn.to_csv(f'{BASE_DOR}/df_Venn.csv', index=False, float_format='%.0f')

In [38]:
#? 为什么如下结果236202不等于之前的236470？？？
df_Venn['Global_Variant_ID'].dropna().nunique()

236202

In [39]:
# 问题分析和解释

print("=== 问题分析 ===")
print(f"原始 df_Global_Common 行数: {df_Global_Common.shape[0]} (236470)")
print(f"df_Global_Common 中唯一的 (POS,REF,ALT) 组合数: {df_Global_Common[['POS', 'REF', 'ALT']].drop_duplicates().shape[0]} (236202)")
print(f"差异: {df_Global_Common.shape[0] - df_Global_Common[['POS', 'REF', 'ALT']].drop_duplicates().shape[0]} = 268行")

print(f"\n最终 df_Venn['Global_Variant_ID'].dropna().nunique(): {df_Venn['Global_Variant_ID'].dropna().nunique()} (236202)")

print("\n=== 结论 ===")
print("236202 ≠ 236470 的原因是：")
print("1. df_Global_Common 中有268个重复的 (POS, REF, ALT) 组合")
print("2. 当使用 groupby(['POS', 'REF', 'ALT']).ngroup() 分配 Variant_ID 时，")
print("   相同的 (POS, REF, ALT) 组合会被分配相同的 Variant_ID")
print("3. 因此唯一的 Variant_ID 数量 = 唯一的 (POS, REF, ALT) 组合数 = 236202")

print("\n=== 验证 ===")
# 验证这个解释
print(f"df_Global_Common 是否有基于 (POS,REF,ALT) 的重复: {df_Global_Common.duplicated(subset=['POS', 'REF', 'ALT']).any()}")
print(f"基于 (POS,REF,ALT) 的重复行数: {df_Global_Common.duplicated(subset=['POS', 'REF', 'ALT']).sum()}")

# 让我们看看这些重复的例子
print("\n=== 重复的例子 ===")
duplicated_combinations = df_Global_Common[df_Global_Common.duplicated(subset=['POS', 'REF', 'ALT'], keep=False)]
if len(duplicated_combinations) > 0:
    print(f"共有 {len(duplicated_combinations)} 行涉及重复的 (POS,REF,ALT) 组合")
    print("前几个重复的例子:")
    print(duplicated_combinations[['POS', 'REF', 'ALT']].head(10))

=== 问题分析 ===
原始 df_Global_Common 行数: 236470 (236470)
df_Global_Common 中唯一的 (POS,REF,ALT) 组合数: 236202 (236202)
差异: 268 = 268行

最终 df_Venn['Global_Variant_ID'].dropna().nunique(): 236202 (236202)

=== 结论 ===
236202 ≠ 236470 的原因是：
1. df_Global_Common 中有268个重复的 (POS, REF, ALT) 组合
2. 当使用 groupby(['POS', 'REF', 'ALT']).ngroup() 分配 Variant_ID 时，
   相同的 (POS, REF, ALT) 组合会被分配相同的 Variant_ID
3. 因此唯一的 Variant_ID 数量 = 唯一的 (POS, REF, ALT) 组合数 = 236202

=== 验证 ===
df_Global_Common 是否有基于 (POS,REF,ALT) 的重复: True
基于 (POS,REF,ALT) 的重复行数: 268

=== 重复的例子 ===
共有 522 行涉及重复的 (POS,REF,ALT) 组合
前几个重复的例子:
         POS REF ALT
3269    2609   T  TA
3276    2609   T  TA
14307   7373   A  AT
14313   7373   A  AT
25772  16835  CA   C
25775  16835  CA   C
34910  23161  AT   A
34916  23161  AT   A
40613  25607   C  CA
40614  25607   C  CA