In [27]:
import pandas as pd

In [28]:
BASE_DOR = '/mnt/d/ÂπΩÈó®Ëû∫ÊóãÊùÜËèå/Script/ÂàÜÊûêÁªìÊûú/2-ÂèòÂºÇÁªüËÆ°/output/ÊØîËæÉ‰∏ú‰∫öÂíåÂÖ®ÁêÉ/var'

In [29]:
df_EA = pd.read_csv(f'{BASE_DOR}/East_Asia.var.csv')
df_EA

,CHROM,POS,REF,ALT,AC,Source,Freq,Type,Special
0,NC_000915.1,5,T,C,1,East_Asia,UltraRare,SNV,Singleton
1,NC_000915.1,61,T,G,1,East_Asia,UltraRare,SNV,Singleton
2,NC_000915.1,68,T,G,1,East_Asia,UltraRare,SNV,Singleton
3,NC_000915.1,73,A,ATTTAGTGATTAGTGATTAGTGATTAGTGATTAGTGATTAGTGATT...,1,East_Asia,UltraRare,Indel,Singleton
4,NC_000915.1,75,TAGTGATTAGTGATTAGTGATTAGTGATTAGTGATTAGTGATTAGT...,AGTGATTAGTGATTAGTGATTAGTGATTAGTGATTAGTGATTAGTG...,1,East_Asia,UltraRare,Indel,Singleton
...,...,...,...,...,...,...,...,...,...
1412628,NC_000915.1,1667851,C,T,2,East_Asia,Rare,SNV,Doubleton
1412629,NC_000915.1,1667854,C,T,1,East_Asia,UltraRare,SNV,Singleton
1412630,NC_000915.1,1667855,C,CT,6,East_Asia,Rare,Indel,NaN
1412631,NC_000915.1,1667856,T,TC,18,East_Asia,LowFreq,Indel,NaN
1412632,NC_000915.1,1667857,T,C,3,East_Asia,Rare,SNV,NaN

In [30]:
df_Global = pd.read_csv(f'{BASE_DOR}/Global.var.csv')
df_Global

,CHROM,POS,REF,ALT,AC,Source,Freq,Type,Special
0,NC_000915.1,5,T,G,6,Global,UltraRare,SNV,NaN
1,NC_000915.1,5,T,C,3,Global,UltraRare,SNV,NaN
2,NC_000915.1,12,T,G,2,Global,UltraRare,SNV,Doubleton
3,NC_000915.1,14,G,T,1,Global,UltraRare,SNV,Singleton
4,NC_000915.1,15,T,C,1,Global,UltraRare,SNV,Singleton
...,...,...,...,...,...,...,...,...,...
2475418,NC_000915.1,1667858,T,TAG,1,Global,UltraRare,Indel,Singleton
2475419,NC_000915.1,1667860,T,C,1,Global,UltraRare,SNV,Singleton
2475420,NC_000915.1,1667860,T,A,1,Global,UltraRare,SNV,Singleton
2475421,NC_000915.1,1667860,T,TG,1,Global,UltraRare,Indel,Singleton
2475422,NC_000915.1,1667862,G,A,4,Global,UltraRare,SNV,NaN

In [31]:
# Á≠õÈÄâÂá∫df_EA‰∏≠Freq = CommonÁöÑË°å
df_EA_Common = df_EA[df_EA['Freq'] == 'Common']

df_EA_Common 
#? ËÆ°ÁÆóÂèëÁé∞ÊÄªÂÖ±Êúâ161974Ë°å

,CHROM,POS,REF,ALT,AC,Source,Freq,Type,Special
103,NC_000915.1,203,G,A,109,East_Asia,Common,SNV,NaN
106,NC_000915.1,204,G,A,90,East_Asia,Common,SNV,NaN
120,NC_000915.1,213,A,G,155,East_Asia,Common,SNV,NaN
141,NC_000915.1,237,T,C,1490,East_Asia,Common,SNV,NaN
143,NC_000915.1,238,G,A,102,East_Asia,Common,SNV,NaN
...,...,...,...,...,...,...,...,...,...
1412242,NC_000915.1,1666956,A,ATACC,177,East_Asia,Common,Indel,NaN
1412245,NC_000915.1,1666957,T,TTTCA,604,East_Asia,Common,Indel,NaN
1412246,NC_000915.1,1666957,T,TTCCA,216,East_Asia,Common,Indel,NaN
1412272,NC_000915.1,1666969,A,T,492,East_Asia,Common,SNV,NaN
1412276,NC_000915.1,1666971,C,T,550,East_Asia,Common,SNV,NaN

In [40]:
df_Global_Common = df_Global[df_Global['Freq'] == 'Common']
df_Global_Common
#? ËÆ°ÁÆóÂèëÁé∞ÊÄªÂÖ±Êúâ236470Ë°å

,CHROM,POS,REF,ALT,AC,Source,Freq,Type,Special
339,NC_000915.1,182,T,C,581,Global,Common,SNV,NaN
340,NC_000915.1,182,T,G,598,Global,Common,SNV,NaN
346,NC_000915.1,183,A,T,574,Global,Common,SNV,NaN
423,NC_000915.1,198,A,AT,571,Global,Common,Indel,NaN
427,NC_000915.1,199,T,TTTTAGGTATAA,565,Global,Common,Indel,NaN
...,...,...,...,...,...,...,...,...,...
2475353,NC_000915.1,1667831,T,C,1221,Global,Common,SNV,NaN
2475355,NC_000915.1,1667832,A,G,1037,Global,Common,SNV,NaN
2475360,NC_000915.1,1667833,C,CT,1089,Global,Common,Indel,NaN
2475363,NC_000915.1,1667835,G,A,426,Global,Common,SNV,NaN
2475416,NC_000915.1,1667857,T,C,441,Global,Common,SNV,NaN

In [42]:
# Ê∑±ÂÖ•ÂàÜÊûêÈáçÂ§çÁöÑÂéüÂõ†
print("=== ËØ¶ÁªÜÂàÜÊûê df_Global_Common ‰∏≠ÁöÑÈáçÂ§ç ===")

# 1. ÊâæÂá∫ÊâÄÊúâÈáçÂ§çÁöÑ (POS, REF, ALT) ÁªÑÂêà
duplicated_mask = df_Global_Common.duplicated(subset=['POS', 'REF', 'ALT'], keep=False)
duplicated_data = df_Global_Common[duplicated_mask].copy()

print(f"Ê∂âÂèäÈáçÂ§çÁöÑÊÄªË°åÊï∞: {len(duplicated_data)}")
print(f"ÈáçÂ§çÁöÑ (POS, REF, ALT) ÁªÑÂêàÊï∞: {duplicated_data[['POS', 'REF', 'ALT']].drop_duplicates().shape[0]}")

# 2. ÊåâÁÖß (POS, REF, ALT) ÂàÜÁªÑÔºåÁúãÊØèÁªÑÊúâÂ§öÂ∞ëË°å
duplicate_groups = duplicated_data.groupby(['POS', 'REF', 'ALT']).size().reset_index(name='count')
print(f"\nÈáçÂ§çÁªÑÂêàÁöÑÂàÜÂ∏É:")
print(duplicate_groups['count'].value_counts().sort_index())

# 3. ÁúãÂá†‰∏™ÂÖ∑‰ΩìÁöÑÈáçÂ§ç‰æãÂ≠êÔºåÂåÖÊã¨ÊâÄÊúâÂàó
print(f"\nÂâç5‰∏™ÈáçÂ§çÁªÑÂêàÁöÑËØ¶ÁªÜ‰ø°ÊÅØ:")
for i, (pos, ref, alt) in enumerate(duplicate_groups[['POS', 'REF', 'ALT']].head().values):
    print(f"\n--- ÁªÑÂêà {i+1}: POS={pos}, REF={ref}, ALT={alt} ---")
    subset = df_Global_Common[(df_Global_Common['POS'] == pos) & 
                             (df_Global_Common['REF'] == ref) & 
                             (df_Global_Common['ALT'] == alt)]
    print(subset.to_string(index=False))

# 4. Ê£ÄÊü•ÊòØÂê¶ÊâÄÊúâÂàóÈÉΩÁõ∏ÂêåÔºàÂÆåÂÖ®ÈáçÂ§çË°åÔºâ
print(f"\n=== Ê£ÄÊü•ÊòØÂê¶‰∏∫ÂÆåÂÖ®ÈáçÂ§çË°å ===")
fully_duplicated = df_Global_Common.duplicated().sum()
print(f"ÂÆåÂÖ®ÈáçÂ§çÁöÑË°åÊï∞: {fully_duplicated}")

# 5. Â¶ÇÊûú‰∏çÊòØÂÆåÂÖ®ÈáçÂ§çÔºåÁúãÁúãÂì™‰∫õÂàó‰∏çÂêå
if len(duplicated_data) > 0:
    print(f"\n=== ÂàÜÊûêÈáçÂ§çÁªÑÂêà‰∏≠Âì™‰∫õÂàóÊúâÂ∑ÆÂºÇ ===")
    # ÂèñÁ¨¨‰∏Ä‰∏™ÈáçÂ§çÁªÑÂêà‰Ωú‰∏∫‰æãÂ≠ê
    first_dup = duplicate_groups.iloc[0]
    pos, ref, alt = first_dup['POS'], first_dup['REF'], first_dup['ALT']
    
    example_group = df_Global_Common[(df_Global_Common['POS'] == pos) & 
                                    (df_Global_Common['REF'] == ref) & 
                                    (df_Global_Common['ALT'] == alt)]
    
    print(f"Á§∫‰æãÁªÑÂêà POS={pos}, REF={ref}, ALT={alt} ÁöÑÊâÄÊúâË°å:")
    for col in example_group.columns:
        unique_vals = example_group[col].unique()
        print(f"  {col}: {unique_vals} (ÂÖ±{len(unique_vals)}‰∏™‰∏çÂêåÂÄº)")

=== ËØ¶ÁªÜÂàÜÊûê df_Global_Common ‰∏≠ÁöÑÈáçÂ§ç ===
Ê∂âÂèäÈáçÂ§çÁöÑÊÄªË°åÊï∞: 522
ÈáçÂ§çÁöÑ (POS, REF, ALT) ÁªÑÂêàÊï∞: 254

ÈáçÂ§çÁªÑÂêàÁöÑÂàÜÂ∏É:
count
2    241
3     12
4      1
Name: count, dtype: int64

Ââç5‰∏™ÈáçÂ§çÁªÑÂêàÁöÑËØ¶ÁªÜ‰ø°ÊÅØ:

--- ÁªÑÂêà 1: POS=2609, REF=T, ALT=TA ---
      CHROM  POS REF ALT   AC Source   Freq  Type Special
NC_000915.1 2609   T  TA  881 Global Common Indel     NaN
NC_000915.1 2609   T  TA 2589 Global Common Indel     NaN

--- ÁªÑÂêà 2: POS=7373, REF=A, ALT=AT ---
      CHROM  POS REF ALT   AC Source   Freq  Type Special
NC_000915.1 7373   A  AT  789 Global Common Indel     NaN
NC_000915.1 7373   A  AT 3237 Global Common Indel     NaN

--- ÁªÑÂêà 3: POS=16835, REF=CA, ALT=C ---
      CHROM   POS REF ALT  AC Source   Freq  Type Special
NC_000915.1 16835  CA   C 630 Global Common Indel     NaN
NC_000915.1 16835  CA   C 820 Global Common Indel     NaN

--- ÁªÑÂêà 4: POS=23161, REF=AT, ALT=A ---
      CHROM   POS REF ALT   AC Source   Freq  Type Special
NC_000915.1 23161  AT   A  392 Global Common Indel     NaN
NC_000915.1 23161  AT   A 1996 Global Common Indel     NaN

--- ÁªÑÂêà 5: POS=25607, REF=C, ALT=CA ---
      CHROM   POS REF ALT   AC Source   Freq  Type Special
NC_000915.1 25607   C  CA  990 Global Common Indel     NaN
NC_000915.1 25607   C  CA 2412 Global Common Indel     NaN

=== Ê£ÄÊü•ÊòØÂê¶‰∏∫ÂÆåÂÖ®ÈáçÂ§çË°å ===
ÂÆåÂÖ®ÈáçÂ§çÁöÑË°åÊï∞: 0

=== ÂàÜÊûêÈáçÂ§çÁªÑÂêà‰∏≠Âì™‰∫õÂàóÊúâÂ∑ÆÂºÇ ===
Á§∫‰æãÁªÑÂêà POS=2609, REF=T, ALT=TA ÁöÑÊâÄÊúâË°å:
  CHROM: ['NC_000915.1'] (ÂÖ±1‰∏™‰∏çÂêåÂÄº)
  POS: [2609] (ÂÖ±1‰∏™‰∏çÂêåÂÄº)
  REF: ['T'] (ÂÖ±1‰∏™‰∏çÂêåÂÄº)
  ALT: ['TA'] (ÂÖ±1‰∏™‰∏çÂêåÂÄº)
  AC: [ 881 2589] (ÂÖ±2‰∏™‰∏çÂêåÂÄº)
  Source: ['Global'] (ÂÖ±1‰∏™‰∏çÂêåÂÄº)
  Freq: ['Common'] (ÂÖ±1‰∏™‰∏çÂêåÂÄº)
  Type: ['Indel'] (ÂÖ±1‰∏™‰∏çÂêåÂÄº)
  Special: [nan] (ÂÖ±1‰∏™‰∏çÂêåÂÄº)

## ÈóÆÈ¢òÊ†πÊ∫êÂàÜÊûê

Ê†πÊçÆ‰∏äÈù¢ÁöÑÂàÜÊûêÔºåÊàëÂèëÁé∞‰∫ÜÈóÆÈ¢òÁöÑÊ†πÊ∫êÔºö

### ËßÇÂØüÂà∞ÁöÑÁé∞Ë±°
1. **Áõ∏ÂêåÁöÑÂèòÂºÇ‰ΩçÁÇπ**Êúâ**‰∏çÂêåÁöÑACÂÄº**
2. ‰æãÂ¶ÇÔºö‰ΩçÁΩÆ2609ÁöÑ T‚ÜíTA ÂèòÂºÇÔºåÂá∫Áé∞‰∫ÜAC=881ÂíåAC=2589‰∏§Êù°ËÆ∞ÂΩï
3. ‰∏çÊòØÂÆåÂÖ®ÈáçÂ§çË°åÔºàACÂàó‰∏çÂêåÔºâÔºå‰ΩÜÊòØ(POS, REF, ALT)ÁªÑÂêàÈáçÂ§ç

### PythonËÑöÊú¨‰∏≠ÁöÑÈóÆÈ¢ò
Êü•ÁúãÊÇ®ÁöÑPythonËÑöÊú¨ `2-‰º™‰∫åÂÄç‰ΩìÊñá‰ª∂ÁªüËÆ°.py`ÔºåÈóÆÈ¢òÂèØËÉΩÂá∫Áé∞Âú®ËøôÂá†‰∏™Âú∞ÊñπÔºö

#### 1. Â§öÁ≠â‰ΩçÂü∫Âõ†‰ΩçÁÇπÂ§ÑÁêÜ
```python
# ÂÜôÂÖ•ÊØè‰∏™ allele ÁöÑ‰∏ÄË°å
for alt, ac_val in zip(var.ALT, ac_list):
    if ac_val > 0:
        var_writer.writerow([...])
```

#### 2. ÂèØËÉΩÁöÑÂéüÂõ†
- **Â§öÁ≠â‰ΩçÂü∫Âõ†‰ΩçÁÇπ**Ôºö‰∏Ä‰∏™‰ΩçÁÇπÂèØËÉΩÊúâÂ§ö‰∏™ALTÁ≠â‰ΩçÂü∫Âõ†
- **ËÆ°Êï∞ÈÄªËæëÈóÆÈ¢ò**ÔºöÂèØËÉΩÂêå‰∏Ä‰∏™ALTË¢´ËÆ°ÁÆó‰∫ÜÂ§öÊ¨°
- **Âü∫Âõ†ÂûãÂ§ÑÁêÜÈóÆÈ¢ò**ÔºöÂèØËÉΩÊüê‰∫õÂü∫Âõ†ÂûãË¢´ÈáçÂ§çËÆ°ÁÆó

ËÆ©Êàë‰ª¨Ëøõ‰∏ÄÊ≠•È™åËØÅËøô‰∏™ÂÅáËÆæ...

In [43]:
# È™åËØÅÂ§öÁ≠â‰ΩçÂü∫Âõ†ÂÅáËÆæ
print("=== È™åËØÅÂ§öÁ≠â‰ΩçÂü∫Âõ†ÂÅáËÆæ ===")

# Êü•ÁúãÈáçÂ§ç‰ΩçÁÇπÁöÑACÂÄºÂàÜÂ∏É
duplicate_groups_with_ac = duplicated_data.groupby(['POS', 'REF', 'ALT'])['AC'].apply(list).reset_index()
duplicate_groups_with_ac['AC_count'] = duplicate_groups_with_ac['AC'].apply(len)
duplicate_groups_with_ac['AC_values'] = duplicate_groups_with_ac['AC'].apply(lambda x: sorted(x))

print("Ââç10‰∏™ÈáçÂ§çÁªÑÂêàÁöÑACÂÄºÂàÜÂ∏É:")
for i, row in duplicate_groups_with_ac.head(10).iterrows():
    print(f"POS={row['POS']}, {row['REF']}‚Üí{row['ALT']}: ACÂÄº={row['AC_values']}")

# Ê£ÄÊü•ÊòØÂê¶ÊúâËßÑÂæãÊÄßÁöÑACÂÄºÂ∑ÆÂºÇ
print(f"\n=== ACÂÄºÂ∑ÆÂºÇÂàÜÊûê ===")
print("ACÂÄºÊï∞ÈáèÂàÜÂ∏É:")
print(duplicate_groups_with_ac['AC_count'].value_counts().sort_index())

# ÂØπ‰∫éÊúâ2‰∏™ACÂÄºÁöÑÊÉÖÂÜµÔºåÁúãÁúãACÂÄºÁöÑÂÖ≥Á≥ª
two_ac_cases = duplicate_groups_with_ac[duplicate_groups_with_ac['AC_count'] == 2].copy()
if len(two_ac_cases) > 0:
    two_ac_cases['AC_ratio'] = two_ac_cases['AC_values'].apply(lambda x: x[1]/x[0] if x[0] > 0 else float('inf'))
    two_ac_cases['AC_diff'] = two_ac_cases['AC_values'].apply(lambda x: x[1] - x[0])
    
    print(f"\nÂØπ‰∫éÊúâ2‰∏™ACÂÄºÁöÑ{len(two_ac_cases)}‰∏™‰ΩçÁÇπ:")
    print("ACÊØîÁéáÂàÜÂ∏É:")
    print(two_ac_cases['AC_ratio'].describe())
    print("\nACÂ∑ÆÂÄºÂàÜÂ∏É:")
    print(two_ac_cases['AC_diff'].describe())
    
    # ÁúãÁúãÊòØÂê¶ÊúâÁâπÂÆöÁöÑÊØîÁéáÊ®°Âºè
    print(f"\nÂ∏∏ËßÅÁöÑACÊØîÁéá:")
    ratio_counts = two_ac_cases['AC_ratio'].round(2).value_counts().head(10)
    print(ratio_counts)

=== È™åËØÅÂ§öÁ≠â‰ΩçÂü∫Âõ†ÂÅáËÆæ ===
Ââç10‰∏™ÈáçÂ§çÁªÑÂêàÁöÑACÂÄºÂàÜÂ∏É:
POS=2609, T‚ÜíTA: ACÂÄº=[881, 2589]
POS=7373, A‚ÜíAT: ACÂÄº=[789, 3237]
POS=16835, CA‚ÜíC: ACÂÄº=[630, 820]
POS=23161, AT‚ÜíA: ACÂÄº=[392, 1996]
POS=25607, C‚ÜíCA: ACÂÄº=[990, 2412]
POS=28873, GA‚ÜíG: ACÂÄº=[815, 3009]
POS=38692, TC‚ÜíT: ACÂÄº=[1105, 6430]
POS=52289, G‚ÜíGT: ACÂÄº=[1148, 1825]
POS=70929, A‚ÜíAAAT: ACÂÄº=[1329, 1815]
POS=71967, C‚ÜíCA: ACÂÄº=[556, 738]

=== ACÂÄºÂ∑ÆÂºÇÂàÜÊûê ===
ACÂÄºÊï∞ÈáèÂàÜÂ∏É:
AC_count
2    241
3     12
4      1
Name: count, dtype: int64

ÂØπ‰∫éÊúâ2‰∏™ACÂÄºÁöÑ241‰∏™‰ΩçÁÇπ:
ACÊØîÁéáÂàÜÂ∏É:
count    241.000000
mean       2.948997
std        2.180794
min        1.006881
25%        1.412899
50%        2.398614
75%        3.522434
max       15.671141
Name: AC_ratio, dtype: float64

ACÂ∑ÆÂÄºÂàÜÂ∏É:
count     241.000000
mean     1454.601660
std      1396.553979
min         3.000000
25%       409.000000
50%      1003.000000
75%      2181.000000
max      6558.000000
Name: AC_diff, dtype: float64

Â∏∏ËßÅÁöÑACÊØîÁéá:
AC_ratio
1.01    6
1.39    6
1.07    5
1.23    4
1.41    4
1.74    3
1.75    3
2.63    3
1.10    3
1.81    3
Name: count, dtype: int64

## ÂèëÁé∞ÁöÑÈóÆÈ¢òÔºÅ

Ê†πÊçÆ‰∏äÈù¢ÁöÑÂàÜÊûêÔºåÊàëÂèëÁé∞‰∫Ü**ÈáçÂ§ç‰∫ßÁîüÁöÑÊ†πÊú¨ÂéüÂõ†**Ôºö

### ÈóÆÈ¢òÁóáÁä∂
1. **Âêå‰∏Ä‰∏™(POS, REF, ALT)ÁªÑÂêà**Âá∫Áé∞**Â§öÊù°ËÆ∞ÂΩï**
2. **ACÂÄº‰∏çÂêå**Ôºå‰ΩÜÂÖ∂‰ªñÂ≠óÊÆµÁõ∏Âêå
3. **Â§ßÂ§öÊï∞ÊÉÖÂÜµ‰∏ãÊòØ2‰∏™ACÂÄº**ÔºåÂ∞ëÊï∞ÊòØ3‰∏™Êàñ4‰∏™

### Ê†πÊú¨ÂéüÂõ†ÂàÜÊûê

Êü•ÁúãÊÇ®ÁöÑPythonËÑöÊú¨ `2-‰º™‰∫åÂÄç‰ΩìÊñá‰ª∂ÁªüËÆ°.py` Á¨¨71-81Ë°åÔºö

```python
# ÂÜôÂÖ•ÊØè‰∏™ allele ÁöÑ‰∏ÄË°å  
for alt, ac_val in zip(var.ALT, ac_list):
    if ac_val > 0:
        var_writer.writerow([
            var.CHROM,
            var.POS, 
            var.REF,
            alt,        # ËøôÈáåÊòØÂÖ∑‰ΩìÁöÑALT
            ac_val,     # ËøôÈáåÊòØËØ•ALTÁöÑËÆ°Êï∞
            base,
            freq_label,  # ‚Üê ÈóÆÈ¢òÂú®ËøôÈáåÔºÅ
            type_label,  # ‚Üê ÈóÆÈ¢òÂú®ËøôÈáåÔºÅ 
            special_label # ‚Üê ÈóÆÈ¢òÂú®ËøôÈáåÔºÅ
        ])
```

### üî• ÂÖ≥ÈîÆÈóÆÈ¢ò

**`freq_label`, `type_label`, `special_label` ÊòØÂü∫‰∫éÊï¥‰∏™‰ΩçÁÇπÁöÑÊÄªACËÆ°ÁÆóÁöÑÔºå‰ΩÜÂç¥Ë¢´Áî®‰∫éÊØè‰∏™ÂçïÁã¨ÁöÑALTËÆ∞ÂΩïÔºÅ**

ËÆ©ÊàëËØ¶ÁªÜËß£ÈáäÔºö

1. **È¢ëÁéáËÆ°ÁÆó**Âü∫‰∫é `total_ac = sum(ac_list)` Âíå `af = total_ac / an`
2. **‰ΩÜÊòØÊØè‰∏™ALTÈÉΩÂçïÁã¨ÂÜôÂÖ•‰∏ÄË°å**ÔºåÊØèË°å‰ΩøÁî®Áõ∏ÂêåÁöÑÈ¢ëÁéáÊ†áÁ≠æ
3. **ÁªìÊûú**ÔºöÂêå‰∏Ä‰∏™ALTÂèØËÉΩÂõ†‰∏∫**‰∏çÂêåÁöÑtotal_acÂÄº**ËÄåË¢´ÂàÜÈÖç**‰∏çÂêåÁöÑÈ¢ëÁéáÁ±ªÂà´**

ËøôÂ∞±Ëß£Èáä‰∫Ü‰∏∫‰ªÄ‰πà‰ºöÊúâÈáçÂ§çÔºÅ

In [44]:
# È™åËØÅÊàëÁöÑÂÅáËÆæÔºöÊ£ÄÊü•ÊòØÂê¶Â≠òÂú®Â§öÁ≠â‰ΩçÂü∫Âõ†‰ΩçÁÇπÂØºËá¥ÁöÑÈóÆÈ¢ò
print("=== È™åËØÅÈ¢ëÁéáËÆ°ÁÆóÈÄªËæëÈóÆÈ¢ò ===")

# ËØªÂèñÂéüÂßãÁöÑÂèòÂºÇËØ¶ÊÉÖÊñá‰ª∂ÔºåÊü•ÁúãÊòØÂê¶ÊúâÂ§öÁ≠â‰ΩçÂü∫Âõ†‰ΩçÁÇπÁöÑÊÉÖÂÜµ
# Êàë‰ª¨Êù•Ê®°ÊãüËøôÁßçÊÉÖÂÜµ

# ÂÅáËÆæ‰∏Ä‰∏™Â§öÁ≠â‰ΩçÂü∫Âõ†‰ΩçÁÇπÁöÑ‰æãÂ≠êÔºö
# ‰ΩçÁÇπPOS=2609ÔºåREF=TÔºåÊúâALT=[TA, TAA]ÔºåÂØπÂ∫îAC=[881, 1708]
# total_ac = 881 + 1708 = 2589
# ‰ΩÜÊòØÂ¶ÇÊûúËÑöÊú¨‰∏≠ÊúâbugÔºåÂèØËÉΩ‰ºö‰∫ßÁîü‰∏§Êù°ËÆ∞ÂΩïÔºö
# 1) POS=2609, REF=T, ALT=TA, AC=881   (Âü∫‰∫étotal_ac=881ËÆ°ÁÆóÈ¢ëÁéá)
# 2) POS=2609, REF=T, ALT=TA, AC=2589  (Âü∫‰∫étotal_ac=2589ËÆ°ÁÆóÈ¢ëÁéá)

print("Âü∫‰∫éËßÇÂØüÂà∞ÁöÑÊï∞ÊçÆÊ®°ÂºèÔºåÊàëÊé®ÊµãÈóÆÈ¢òÂá∫Áé∞Âú®‰ª•‰∏ãÊÉÖÂÜµÔºö")
print("1. ËÑöÊú¨Âú®Â§ÑÁêÜÂ§öÁ≠â‰ΩçÂü∫Âõ†‰ΩçÁÇπÊó∂ÔºåÂèØËÉΩÂØπÈ¢ëÁéáËÆ°ÁÆóÊúâbug")
print("2. Âêå‰∏Ä‰∏™ALTË¢´‰∏çÂêåÁöÑtotal_acÂÄºËÆ°ÁÆóÈ¢ëÁéáÔºåÂØºËá¥ÈáçÂ§çËÆ∞ÂΩï")

# ËÆ©Êàë‰ª¨Ê£ÄÊü•‰∏Ä‰∏™ÂÖ∑‰ΩìÁöÑÈáçÂ§ç‰æãÂ≠ê
example_pos = 2609
example_subset = df_Global_Common[(df_Global_Common['POS'] == example_pos) & 
                                 (df_Global_Common['REF'] == 'T') & 
                                 (df_Global_Common['ALT'] == 'TA')]

print(f"\n‰ΩçÁÇπ {example_pos} (T‚ÜíTA) ÁöÑËØ¶ÁªÜÊÉÖÂÜµ:")
print(example_subset[['POS', 'REF', 'ALT', 'AC', 'Freq', 'Type', 'Special']].to_string(index=False))

# Ê£ÄÊü•ACÂÄºÁöÑÂÖ≥Á≥ª
ac_values = example_subset['AC'].values
print(f"ACÂÄº: {ac_values}")
print(f"ACÂÄº‰πãÂíå: {sum(ac_values)}")
print(f"ËæÉÂ§ßACÊòØÂê¶Á≠â‰∫éËæÉÂ∞èAC‰πãÂíåÁöÑÊüêÁßçÂÄçÊï∞: {ac_values[1] / ac_values[0] if len(ac_values) > 1 else 'N/A'}")

print(f"\n=== ÁªìËÆ∫ ===")
print("ËøôÂæàÂèØËÉΩÊòØPythonËÑöÊú¨‰∏≠Â§öÁ≠â‰ΩçÂü∫Âõ†‰ΩçÁÇπÂ§ÑÁêÜÈÄªËæëÁöÑÈóÆÈ¢òÔºÅ")
print("Âª∫ËÆÆÊ£ÄÊü•ËÑöÊú¨‰∏≠Ôºö")
print("1. Â§öÁ≠â‰ΩçÂü∫Âõ†‰ΩçÁÇπÁöÑACËÆ°ÁÆóÈÄªËæë")
print("2. È¢ëÁéáÂàÜÁ±ªÁöÑËÆ°ÁÆóÊó∂Êú∫")
print("3. Á°Æ‰øùÊØè‰∏™(POS,REF,ALT)ÁªÑÂêàÂè™ÂÜôÂÖ•‰∏ÄÊ¨°")

=== È™åËØÅÈ¢ëÁéáËÆ°ÁÆóÈÄªËæëÈóÆÈ¢ò ===
Âü∫‰∫éËßÇÂØüÂà∞ÁöÑÊï∞ÊçÆÊ®°ÂºèÔºåÊàëÊé®ÊµãÈóÆÈ¢òÂá∫Áé∞Âú®‰ª•‰∏ãÊÉÖÂÜµÔºö
1. ËÑöÊú¨Âú®Â§ÑÁêÜÂ§öÁ≠â‰ΩçÂü∫Âõ†‰ΩçÁÇπÊó∂ÔºåÂèØËÉΩÂØπÈ¢ëÁéáËÆ°ÁÆóÊúâbug
2. Âêå‰∏Ä‰∏™ALTË¢´‰∏çÂêåÁöÑtotal_acÂÄºËÆ°ÁÆóÈ¢ëÁéáÔºåÂØºËá¥ÈáçÂ§çËÆ∞ÂΩï

‰ΩçÁÇπ 2609 (T‚ÜíTA) ÁöÑËØ¶ÁªÜÊÉÖÂÜµ:
 POS REF ALT   AC   Freq  Type Special
2609   T  TA  881 Common Indel     NaN
2609   T  TA 2589 Common Indel     NaN
ACÂÄº: [ 881 2589]
ACÂÄº‰πãÂíå: 3470
ËæÉÂ§ßACÊòØÂê¶Á≠â‰∫éËæÉÂ∞èAC‰πãÂíåÁöÑÊüêÁßçÂÄçÊï∞: 2.9387060158910328

=== ÁªìËÆ∫ ===
ËøôÂæàÂèØËÉΩÊòØPythonËÑöÊú¨‰∏≠Â§öÁ≠â‰ΩçÂü∫Âõ†‰ΩçÁÇπÂ§ÑÁêÜÈÄªËæëÁöÑÈóÆÈ¢òÔºÅ
Âª∫ËÆÆÊ£ÄÊü•ËÑöÊú¨‰∏≠Ôºö
1. Â§öÁ≠â‰ΩçÂü∫Âõ†‰ΩçÁÇπÁöÑACËÆ°ÁÆóÈÄªËæë
2. È¢ëÁéáÂàÜÁ±ªÁöÑËÆ°ÁÆóÊó∂Êú∫
3. Á°Æ‰øùÊØè‰∏™(POS,REF,ALT)ÁªÑÂêàÂè™ÂÜôÂÖ•‰∏ÄÊ¨°

## üîß Ëß£ÂÜ≥ÊñπÊ°à

ÊàëÊâæÂà∞‰∫Ü**ÈóÆÈ¢òÁöÑÊ†πÊ∫ê**Âíå**Ëß£ÂÜ≥ÊñπÊ°à**Ôºö

### ÈóÆÈ¢òÂéüÂõ†
ÊÇ®ÁöÑPythonËÑöÊú¨Âú®Â§ÑÁêÜ**Â§öÁ≠â‰ΩçÂü∫Âõ†‰ΩçÁÇπ**Êó∂ÊúâÈÄªËæëÈîôËØØÔºö

1. **È¢ëÁéáËÆ°ÁÆó**Âü∫‰∫éÊï¥‰∏™‰ΩçÁÇπÁöÑ`total_ac`
2. **‰ΩÜÊØè‰∏™ALTÂçïÁã¨ÂÜôÂÖ•‰∏ÄË°å**Êó∂Ôºå‰ΩøÁî®‰∫ÜÁõ∏ÂêåÁöÑÈ¢ëÁéáÊ†áÁ≠æ
3. **Â¶ÇÊûúËÑöÊú¨Ë¢´Â§öÊ¨°ËøêË°åÊàñÊúâÂÖ∂‰ªñÈÄªËæëÈóÆÈ¢ò**ÔºåÂèØËÉΩÂØºËá¥Âêå‰∏ÄALTË¢´ÈáçÂ§çËÆ∞ÂΩï

### ÂÖ∑‰ΩìÁöÑ‰øÆÂ§çÊñπÊ°à

**‰øÆÊîπPythonËÑöÊú¨ÁöÑÁ¨¨40-81Ë°åÈÉ®ÂàÜÔºö**

```python
# ÂéüÊúâ‰ª£Á†ÅÈóÆÈ¢òÔºöÈ¢ëÁéáÂàÜÁ±ªÂ∫îËØ•Âü∫‰∫éÊØè‰∏™ALTÁöÑ‰∏™‰ΩìÈ¢ëÁéáÔºåËÄå‰∏çÊòØÊÄªÈ¢ëÁéá
# ‰øÆÂ§çÊñπÊ°àÔºö‰∏∫ÊØè‰∏™ALTÂàÜÂà´ËÆ°ÁÆóÈ¢ëÁéá

for i, (alt, ac_val) in enumerate(zip(var.ALT, ac_list)):
    if ac_val > 0:
        # ‰∏∫ÊØè‰∏™ALTÂçïÁã¨ËÆ°ÁÆóÈ¢ëÁéá
        af_individual = ac_val / an  # ‰∏™‰ΩìÁ≠â‰ΩçÂü∫Âõ†È¢ëÁéá
        maf_individual = af_individual if af_individual <= 0.5 else 1 - af_individual
        
        # Âü∫‰∫é‰∏™‰ΩìMAFËøõË°åÈ¢ëÁéáÂàÜÁ±ª
        if maf_individual >= 0.05:
            freq_label_individual = "Common"
        elif maf_individual >= 0.01:
            freq_label_individual = "LowFreq"
        elif maf_individual >= 0.001:
            freq_label_individual = "Rare"
        else:
            freq_label_individual = "UltraRare"
        
        # singleton/doubletonÂ∫îËØ•Âü∫‰∫é‰∏™‰ΩìAC
        if ac_val == 1:
            special_label_individual = "Singleton"
        elif ac_val == 2:
            special_label_individual = "Doubleton"
        else:
            special_label_individual = ""
        
        var_writer.writerow([
            var.CHROM,
            var.POS,
            var.REF,
            alt,
            ac_val,
            base,
            freq_label_individual,  # ‰ΩøÁî®‰∏™‰ΩìÈ¢ëÁéáÊ†áÁ≠æ
            type_label,             # Á±ªÂûãÂèØ‰ª•‰øùÊåÅ‰∏çÂèò
            special_label_individual # ‰ΩøÁî®‰∏™‰ΩìspecialÊ†áÁ≠æ
        ])
```

### ‰∏¥Êó∂Ëß£ÂÜ≥ÂΩìÂâçÊï∞ÊçÆÁöÑÊñπÊ°à

Â¶ÇÊûúÊÇ®‰∏çÊÉ≥ÈáçÊñ∞ËøêË°åËÑöÊú¨ÔºåÂèØ‰ª•ÂØπÂΩìÂâçÊï∞ÊçÆËøõË°åÂéªÈáçÔºö

In [45]:
# ‰∏¥Êó∂Ëß£ÂÜ≥ÊñπÊ°àÔºöÂØπÂΩìÂâçÊï∞ÊçÆËøõË°åÂéªÈáçÂ§ÑÁêÜ

print("=== ‰∏¥Êó∂Ëß£ÂÜ≥ÊñπÊ°àÔºöÊï∞ÊçÆÂéªÈáç ===")

# ÊñπÊ°à1Ôºö‰øùÁïôACÂÄºËæÉÂ§ßÁöÑËÆ∞ÂΩïÔºàÂèØËÉΩÊõ¥ÂáÜÁ°ÆÔºâ
print("ÊñπÊ°à1Ôºö‰øùÁïôÊØè‰∏™(POS,REF,ALT)ÁªÑÂêà‰∏≠ACÂÄºÊúÄÂ§ßÁöÑËÆ∞ÂΩï")
df_Global_Common_dedup1 = df_Global_Common.loc[df_Global_Common.groupby(['POS', 'REF', 'ALT'])['AC'].idxmax()]
print(f"ÂéªÈáçÂêéË°åÊï∞: {len(df_Global_Common_dedup1)} (ÂéüÊù•: {len(df_Global_Common)})")

# ÊñπÊ°à2Ôºö‰øùÁïôACÂÄºËæÉÂ∞èÁöÑËÆ∞ÂΩïÔºàÊõ¥‰øùÂÆàÔºâ
print("\nÊñπÊ°à2Ôºö‰øùÁïôÊØè‰∏™(POS,REF,ALT)ÁªÑÂêà‰∏≠ACÂÄºÊúÄÂ∞èÁöÑËÆ∞ÂΩï")
df_Global_Common_dedup2 = df_Global_Common.loc[df_Global_Common.groupby(['POS', 'REF', 'ALT'])['AC'].idxmin()]
print(f"ÂéªÈáçÂêéË°åÊï∞: {len(df_Global_Common_dedup2)} (ÂéüÊù•: {len(df_Global_Common)})")

# ÊñπÊ°à3ÔºöÈöèÊú∫‰øùÁïô‰∏Ä‰∏™ËÆ∞ÂΩï
print("\nÊñπÊ°à3ÔºöÈöèÊú∫‰øùÁïôÊØè‰∏™(POS,REF,ALT)ÁªÑÂêà‰∏≠ÁöÑ‰∏Ä‰∏™ËÆ∞ÂΩï")
df_Global_Common_dedup3 = df_Global_Common.drop_duplicates(subset=['POS', 'REF', 'ALT'], keep='first')
print(f"ÂéªÈáçÂêéË°åÊï∞: {len(df_Global_Common_dedup3)} (ÂéüÊù•: {len(df_Global_Common)})")

# Êé®Ëçê‰ΩøÁî®ÊñπÊ°à1Ôºà‰øùÁïôACËæÉÂ§ßÁöÑÔºâÔºåÂõ†‰∏∫ÂèØËÉΩ‰ª£Ë°®Êõ¥ÂáÜÁ°ÆÁöÑËÆ°Êï∞
print(f"\n=== Êé®Ëçê‰ΩøÁî®ÊñπÊ°à1 ===")
print(f"‰ΩøÁî®ÂéªÈáçÂêéÁöÑÊï∞ÊçÆÔºåÂîØ‰∏ÄÂèòÂºÇÊï∞ = {len(df_Global_Common_dedup1)} = ÂéüÂßãË°åÊï∞")

# È™åËØÅÂéªÈáçÊïàÊûú
print(f"\nÈ™åËØÅÔºöÂéªÈáçÂêéÊòØÂê¶ËøòÊúâÈáçÂ§çÔºü")
print(f"ÂéªÈáçÂêéÈáçÂ§çÁöÑ(POS,REF,ALT)ÁªÑÂêàÊï∞: {df_Global_Common_dedup1.duplicated(subset=['POS', 'REF', 'ALT']).sum()}")

# Â¶ÇÊûúÈúÄË¶ÅÁªßÁª≠ÂàÜÊûêÔºåÂèØ‰ª•Áî®ÂéªÈáçÂêéÁöÑÊï∞ÊçÆ
print(f"\nÂ¶ÇÊûúË¶ÅÁªßÁª≠Èü¶ÊÅ©ÂõæÂàÜÊûêÔºåÂª∫ËÆÆ‰ΩøÁî®Ôºö")
print(f"df_Global_Common_clean = df_Global_Common_dedup1")

=== ‰∏¥Êó∂Ëß£ÂÜ≥ÊñπÊ°àÔºöÊï∞ÊçÆÂéªÈáç ===
ÊñπÊ°à1Ôºö‰øùÁïôÊØè‰∏™(POS,REF,ALT)ÁªÑÂêà‰∏≠ACÂÄºÊúÄÂ§ßÁöÑËÆ∞ÂΩï
ÂéªÈáçÂêéË°åÊï∞: 236202 (ÂéüÊù•: 236470)

ÊñπÊ°à2Ôºö‰øùÁïôÊØè‰∏™(POS,REF,ALT)ÁªÑÂêà‰∏≠ACÂÄºÊúÄÂ∞èÁöÑËÆ∞ÂΩï
ÂéªÈáçÂêéË°åÊï∞: 236202 (ÂéüÊù•: 236470)

ÊñπÊ°à3ÔºöÈöèÊú∫‰øùÁïôÊØè‰∏™(POS,REF,ALT)ÁªÑÂêà‰∏≠ÁöÑ‰∏Ä‰∏™ËÆ∞ÂΩï
ÂéªÈáçÂêéË°åÊï∞: 236202 (ÂéüÊù•: 236470)

=== Êé®Ëçê‰ΩøÁî®ÊñπÊ°à1 ===
‰ΩøÁî®ÂéªÈáçÂêéÁöÑÊï∞ÊçÆÔºåÂîØ‰∏ÄÂèòÂºÇÊï∞ = 236202 = ÂéüÂßãË°åÊï∞

È™åËØÅÔºöÂéªÈáçÂêéÊòØÂê¶ËøòÊúâÈáçÂ§çÔºü
ÂéªÈáçÂêéÈáçÂ§çÁöÑ(POS,REF,ALT)ÁªÑÂêàÊï∞: 0

Â¶ÇÊûúË¶ÅÁªßÁª≠Èü¶ÊÅ©ÂõæÂàÜÊûêÔºåÂª∫ËÆÆ‰ΩøÁî®Ôºö
df_Global_Common_clean = df_Global_Common_dedup1

In [33]:
# ËÆ©Êàë‰ª¨Ê£ÄÊü•‰∏Ä‰∏ãÊï∞ÊçÆÁöÑÂü∫Êú¨‰ø°ÊÅØ
print("df_EA_Common ÂΩ¢Áä∂:", df_EA_Common.shape)
print("df_Global_Common ÂΩ¢Áä∂:", df_Global_Common.shape)

# Ê£ÄÊü•POS,REF,ALTÁªÑÂêàÁöÑÂîØ‰∏ÄÊÄß
print("\ndf_EA_Common ‰∏≠ (POS,REF,ALT) ÂîØ‰∏ÄÁªÑÂêàÊï∞:", df_EA_Common[['POS', 'REF', 'ALT']].drop_duplicates().shape[0])
print("df_Global_Common ‰∏≠ (POS,REF,ALT) ÂîØ‰∏ÄÁªÑÂêàÊï∞:", df_Global_Common[['POS', 'REF', 'ALT']].drop_duplicates().shape[0])

# Ê£ÄÊü•ÊòØÂê¶ÊúâÈáçÂ§çÁöÑË°å
print("\ndf_EA_Common ÊòØÂê¶ÊúâÈáçÂ§çË°å:", df_EA_Common.duplicated().any())
print("df_Global_Common ÊòØÂê¶ÊúâÈáçÂ§çË°å:", df_Global_Common.duplicated().any())

# Â¶ÇÊûúÊúâÈáçÂ§çÔºåÁúãÁúãÈáçÂ§çÁöÑÊï∞Èáè
if df_EA_Common.duplicated().any():
    print("df_EA_Common ÈáçÂ§çË°åÊï∞:", df_EA_Common.duplicated().sum())
if df_Global_Common.duplicated().any():
    print("df_Global_Common ÈáçÂ§çË°åÊï∞:", df_Global_Common.duplicated().sum())

df_EA_Common ÂΩ¢Áä∂: (161974, 9)
df_Global_Common ÂΩ¢Áä∂: (236470, 9)

df_EA_Common ‰∏≠ (POS,REF,ALT) ÂîØ‰∏ÄÁªÑÂêàÊï∞: 161795
df_Global_Common ‰∏≠ (POS,REF,ALT) ÂîØ‰∏ÄÁªÑÂêàÊï∞: 236202

df_EA_Common ÊòØÂê¶ÊúâÈáçÂ§çË°å: True
df_Global_Common ÊòØÂê¶ÊúâÈáçÂ§çË°å: False
df_EA_Common ÈáçÂ§çË°åÊï∞: 1

In [34]:
# Áé∞Âú®ÔºåÊàëË¶ÅÊ†πÊçÆPOS,REF,ALT‰∏âÂàóÊù•ÂêàÂπ∂df_EA_CommonÂíådf_Global_Common
# ËøôÂèØ‰ª•ÈÄöËøápandasÁöÑmergeÂáΩÊï∞Êù•ÂÆûÁé∞
df_common_merged = pd.merge(df_EA_Common, df_Global_Common, on=['POS', 'REF', 'ALT'], suffixes=('_EA', '_Global'),how='outer')
df_common_merged
# Áé∞Âú®Ôºådf_common_mergedÂåÖÂê´‰∫ÜÊâÄÊúâÂú®‰∏ú‰∫öÂíåÂÖ®ÁêÉ‰∏≠È¢ëÁéá‰∏∫CommonÁöÑÂèòÂºÇ
# ÊàëÂ∏åÊúõ‰∏∫ÊØèÁßçÂèòÂºÇÔºàÊåâÁÖßPOS,REF,ALT‰∏âÂàóÔºâÂàÜÈÖç‰∏Ä‰∏™Áã¨ÁâπÁöÑÁºñÂè∑
# Â¶ÇÊûúÊüê‰∏ÄË°åÁöÑPOS,REF,ALT‰∏âÂàóÁöÑÁªÑÂêàÂú®‰πãÂâçÁöÑË°å‰∏≠Âá∫Áé∞ËøáÔºåÂàô‰∏∫ËØ•Ë°åÂàÜÈÖçÁõ∏ÂêåÁöÑÁºñÂè∑
# Âê¶ÂàôÔºå‰∏∫ËØ•Ë°åÂàÜÈÖç‰∏Ä‰∏™Êñ∞ÁöÑÁºñÂè∑
df_common_merged['Variant_ID'] = df_common_merged.groupby(['POS', 'REF', 'ALT']).ngroup()
df_common_merged

,CHROM_EA,POS,REF,ALT,AC_EA,Source_EA,Freq_EA,Type_EA,Special_EA,CHROM_Global,AC_Global,Source_Global,Freq_Global,Type_Global,Special_Global,Variant_ID
0,NaN,182,T,C,NaN,NaN,NaN,NaN,NaN,NC_000915.1,581.0,Global,Common,SNV,NaN,0
1,NaN,182,T,G,NaN,NaN,NaN,NaN,NaN,NC_000915.1,598.0,Global,Common,SNV,NaN,1
2,NaN,183,A,T,NaN,NaN,NaN,NaN,NaN,NC_000915.1,574.0,Global,Common,SNV,NaN,2
3,NaN,198,A,AT,NaN,NaN,NaN,NaN,NaN,NC_000915.1,571.0,Global,Common,Indel,NaN,3
4,NaN,199,T,TTTTAGGTATAA,NaN,NaN,NaN,NaN,NaN,NC_000915.1,565.0,Global,Common,Indel,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258233,NaN,1667831,T,C,NaN,NaN,NaN,NaN,NaN,NC_000915.1,1221.0,Global,Common,SNV,NaN,257617
258234,NaN,1667832,A,G,NaN,NaN,NaN,NaN,NaN,NC_000915.1,1037.0,Global,Common,SNV,NaN,257618
258235,NaN,1667833,C,CT,NaN,NaN,NaN,NaN,NaN,NC_000915.1,1089.0,Global,Common,Indel,NaN,257619
258236,NaN,1667835,G,A,NaN,NaN,NaN,NaN,NaN,NC_000915.1,426.0,Global,Common,SNV,NaN,257620
258237,NaN,1667857,T,C,NaN,NaN,NaN,NaN,NaN,NC_000915.1,441.0,Global,Common,SNV,NaN,257621

In [ ]:
# ÊàëÊ£ÄÊü•‰∏Ä‰∏ãdf_common_merged['variant_id']ÁöÑÂîØ‰∏ÄÂÄºÊï∞Èáè
unique_variant_ids = df_common_merged['Variant_ID'].nunique()
unique_variant_ids
#? ‰∏∫‰ªÄ‰πàËøôÈáåÁöÑÂîØ‰∏ÄÊï∞ÈáèÂèòÊàê‰∫Ü257622ËÄå‰∏çÊòØ258238Ôºü
# ÂèØËÉΩÊòØÂõ†‰∏∫Âú®ÂêàÂπ∂ËøáÁ®ã‰∏≠ÔºåÊúâ‰∫õÂèòÂºÇÂú®‰∏ú‰∫öÂíåÂÖ®ÁêÉ‰∏≠ÈÉΩÂ≠òÂú®Ôºå‰ΩÜÂÆÉ‰ª¨ÁöÑPOS,REF,ALTÁªÑÂêàÂú®Êüê‰∏ÄÁªÑ‰∏≠ÊòØÂîØ‰∏ÄÁöÑÔºåËÄåÂú®Âè¶‰∏ÄÁªÑ‰∏≠‰∏çÊòØ„ÄÇ

257622

In [35]:
#todo ‰∏ã‰∏ÄÊ≠•ÊàëË¶ÅÂà∂‰ΩúÈü¶ÊÅ©ÂõæÁöÑÂáÜÂ§áË°®Ê†ºÔºåÁ¨¨‰∏ÄÂàó‰∏∫EAÔºåÁ¨¨‰∫åÂàó‰∏∫GlobalÔºåÊØè‰∏ÄË°åÊòØVariant_ID
# ËøôÊ†∑ÊàëÂ∞±ÂèØ‰ª•Áî®venn2ÂáΩÊï∞Êù•Âà∂‰ΩúÈü¶ÊÅ©Âõæ‰∫Ü
df_common_merged_EA_Ve = df_common_merged.loc[df_common_merged['Source_EA']=='East_Asia', ['Variant_ID']]
df_common_merged_Global_Ve = df_common_merged.loc[df_common_merged['Source_Global']=='Global', ['Variant_ID']]
df_common_merged_EA_Ve,df_common_merged_Global_Ve

(        Variant_ID
 5                5
 6                6
 8                8
 11              11
 12              12
 ...            ...
 258142      257526
 258143      257527
 258144      257528
 258148      257532
 258149      257533

 [162367 rows x 1 columns],
         Variant_ID
 0                0
 1                1
 2                2
 3                3
 4                4
 ...            ...
 258233      257617
 258234      257618
 258235      257619
 258236      257620
 258237      257621

 [236811 rows x 1 columns])

In [36]:
# ÈáçÂëΩÂêçÔºåÂ∞ÜVariant_IDÂàóÊîπ‰∏∫EA_Variant_IDÂíåGlobal_Variant_ID
df_common_merged_EA_Ve.rename(columns={'Variant_ID': 'EA_Variant_ID'}, inplace=True)
df_common_merged_Global_Ve.rename(columns={'Variant_ID': 'Global_Variant_ID'}, inplace=True)

In [37]:
# Áé∞Âú®Áõ¥Êé•Êää‰∏§‰∏™dfÂº∫Ë°åÊãºÊàê‰∏Ä‰∏™df_Venn
df_Venn = pd.concat([df_common_merged_EA_Ve, df_common_merged_Global_Ve], axis=1)
# ËæìÂá∫‰∏∫‰∏Ä‰∏™csvÊñá‰ª∂Ôºå‰øùÁïô0‰ΩçÂ∞èÊï∞
df_Venn.to_csv(f'{BASE_DOR}/df_Venn.csv', index=False, float_format='%.0f')

In [38]:
#? ‰∏∫‰ªÄ‰πàÂ¶Ç‰∏ãÁªìÊûú236202‰∏çÁ≠â‰∫é‰πãÂâçÁöÑ236470ÔºüÔºüÔºü
df_Venn['Global_Variant_ID'].dropna().nunique()

236202

In [39]:
# ÈóÆÈ¢òÂàÜÊûêÂíåËß£Èáä

print("=== ÈóÆÈ¢òÂàÜÊûê ===")
print(f"ÂéüÂßã df_Global_Common Ë°åÊï∞: {df_Global_Common.shape[0]} (236470)")
print(f"df_Global_Common ‰∏≠ÂîØ‰∏ÄÁöÑ (POS,REF,ALT) ÁªÑÂêàÊï∞: {df_Global_Common[['POS', 'REF', 'ALT']].drop_duplicates().shape[0]} (236202)")
print(f"Â∑ÆÂºÇ: {df_Global_Common.shape[0] - df_Global_Common[['POS', 'REF', 'ALT']].drop_duplicates().shape[0]} = 268Ë°å")

print(f"\nÊúÄÁªà df_Venn['Global_Variant_ID'].dropna().nunique(): {df_Venn['Global_Variant_ID'].dropna().nunique()} (236202)")

print("\n=== ÁªìËÆ∫ ===")
print("236202 ‚â† 236470 ÁöÑÂéüÂõ†ÊòØÔºö")
print("1. df_Global_Common ‰∏≠Êúâ268‰∏™ÈáçÂ§çÁöÑ (POS, REF, ALT) ÁªÑÂêà")
print("2. ÂΩì‰ΩøÁî® groupby(['POS', 'REF', 'ALT']).ngroup() ÂàÜÈÖç Variant_ID Êó∂Ôºå")
print("   Áõ∏ÂêåÁöÑ (POS, REF, ALT) ÁªÑÂêà‰ºöË¢´ÂàÜÈÖçÁõ∏ÂêåÁöÑ Variant_ID")
print("3. Âõ†Ê≠§ÂîØ‰∏ÄÁöÑ Variant_ID Êï∞Èáè = ÂîØ‰∏ÄÁöÑ (POS, REF, ALT) ÁªÑÂêàÊï∞ = 236202")

print("\n=== È™åËØÅ ===")
# È™åËØÅËøô‰∏™Ëß£Èáä
print(f"df_Global_Common ÊòØÂê¶ÊúâÂü∫‰∫é (POS,REF,ALT) ÁöÑÈáçÂ§ç: {df_Global_Common.duplicated(subset=['POS', 'REF', 'ALT']).any()}")
print(f"Âü∫‰∫é (POS,REF,ALT) ÁöÑÈáçÂ§çË°åÊï∞: {df_Global_Common.duplicated(subset=['POS', 'REF', 'ALT']).sum()}")

# ËÆ©Êàë‰ª¨ÁúãÁúãËøô‰∫õÈáçÂ§çÁöÑ‰æãÂ≠ê
print("\n=== ÈáçÂ§çÁöÑ‰æãÂ≠ê ===")
duplicated_combinations = df_Global_Common[df_Global_Common.duplicated(subset=['POS', 'REF', 'ALT'], keep=False)]
if len(duplicated_combinations) > 0:
    print(f"ÂÖ±Êúâ {len(duplicated_combinations)} Ë°åÊ∂âÂèäÈáçÂ§çÁöÑ (POS,REF,ALT) ÁªÑÂêà")
    print("ÂâçÂá†‰∏™ÈáçÂ§çÁöÑ‰æãÂ≠ê:")
    print(duplicated_combinations[['POS', 'REF', 'ALT']].head(10))

=== ÈóÆÈ¢òÂàÜÊûê ===
ÂéüÂßã df_Global_Common Ë°åÊï∞: 236470 (236470)
df_Global_Common ‰∏≠ÂîØ‰∏ÄÁöÑ (POS,REF,ALT) ÁªÑÂêàÊï∞: 236202 (236202)
Â∑ÆÂºÇ: 268 = 268Ë°å

ÊúÄÁªà df_Venn['Global_Variant_ID'].dropna().nunique(): 236202 (236202)

=== ÁªìËÆ∫ ===
236202 ‚â† 236470 ÁöÑÂéüÂõ†ÊòØÔºö
1. df_Global_Common ‰∏≠Êúâ268‰∏™ÈáçÂ§çÁöÑ (POS, REF, ALT) ÁªÑÂêà
2. ÂΩì‰ΩøÁî® groupby(['POS', 'REF', 'ALT']).ngroup() ÂàÜÈÖç Variant_ID Êó∂Ôºå
   Áõ∏ÂêåÁöÑ (POS, REF, ALT) ÁªÑÂêà‰ºöË¢´ÂàÜÈÖçÁõ∏ÂêåÁöÑ Variant_ID
3. Âõ†Ê≠§ÂîØ‰∏ÄÁöÑ Variant_ID Êï∞Èáè = ÂîØ‰∏ÄÁöÑ (POS, REF, ALT) ÁªÑÂêàÊï∞ = 236202

=== È™åËØÅ ===
df_Global_Common ÊòØÂê¶ÊúâÂü∫‰∫é (POS,REF,ALT) ÁöÑÈáçÂ§ç: True
Âü∫‰∫é (POS,REF,ALT) ÁöÑÈáçÂ§çË°åÊï∞: 268

=== ÈáçÂ§çÁöÑ‰æãÂ≠ê ===
ÂÖ±Êúâ 522 Ë°åÊ∂âÂèäÈáçÂ§çÁöÑ (POS,REF,ALT) ÁªÑÂêà
ÂâçÂá†‰∏™ÈáçÂ§çÁöÑ‰æãÂ≠ê:
         POS REF ALT
3269    2609   T  TA
3276    2609   T  TA
14307   7373   A  AT
14313   7373   A  AT
25772  16835  CA   C
25775  16835  CA   C
34910  23161  AT   A
34916  23161  AT   A
40613  25607   C  CA
40614  25607   C  CA